.header {
  height: 4rem;
  background: #d2dad5;
  position: fixed;
  width: 100%;
  text-align: center;
  padding: 1rem;
  .company-name {
    color: red;

    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
  }
}
.content-orderbtnwrapper {
  padding-top: 6rem;
  .order-type-btn {
    height: 5rem;
    width: 100%;
  }
  .confirmed {
    background: #1462d8bf;
  }
  .shipped {
    background: #28c328c9; 
  }
  .picklist {
    background: #f19a18c4;
  }
  .pending {
    background: #f56464;
  }
}
.content-clickoptions {
  //   height: 2rem;
  text-align: center;
  padding: 1rem;
  background: #d2dad5;
  margin-top: 1rem;
}
.footer {
  position:fixed;
  bottom:0rem;
  text-align: center;
  padding: 1rem;
  background: #d2dad5;
  margin-top: 1rem;
  width: 100%;
}
