<!-- Toolbar -->
<div class="container-fluid">
  <div class="row header" role="banner">
    <div class="col-md-6">
      <span class="company-name">OPTIMUS</span>
    </div>
    <div class="col-md-6">
      <div ngbDropdown class="d-inline-block">
        <button
          class="btn btn-outline-secondary"
          id="dropdownBasic1"
          ngbDropdownToggle
        >
          Location dropdown
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Location 1</button>
          <button ngbDropdownItem>Location 2</button>
          <button ngbDropdownItem>Location 3</button>
          <button ngbDropdownItem>Location 4</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <div class="row content-orderbtnwrapper">
        <div class="col-sm">
          <button
            type="button"
            class="btn btn-secondary order-type-btn confirmed"
          >
            Ordrs Confirmed
            <br />
            <span>2345</span>
          </button>
        </div>
        <div class="col-sm">
          <button
            type="button"
            class="btn btn-secondary order-type-btn shipped"
          >
            Orders Shipped
            <br />
            <span>2345</span>
          </button>
        </div>
        <div class="col-sm">
          <button
            type="button"
            class="btn btn-secondary order-type-btn picklist"
          >
            Picklist Generated
            <br />
            <span>2345</span>
          </button>
        </div>
        <div class="col-sm">
          <button
            type="button"
            class="btn btn-secondary order-type-btn pending"
          >
            Orders Pending
            <br />
            <span>2345</span>
          </button>
        </div>
      </div>

      <div class="row content-clickoptions">
        <div class="col-sm">
          Click here for Options
        </div>
      </div>
      <div class="row content-table">
        <div class="col-sm">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col" sortable="name" (sort)="onSort($event)">
                  Country
                </th>
                <th scope="col" sortable="area" (sort)="onSort($event)">
                  Area
                </th>
                <th scope="col" sortable="population" (sort)="onSort($event)">
                  Population
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let country of countries">
                <th scope="row">{{ country.id }}</th>
                <td>
                  <img
                    [src]="
                      'https://upload.wikimedia.org/wikipedia/commons/' +
                      country.flag
                    "
                    class="mr-2"
                    style="width: 20px;"
                  />
                  {{ country.name }}
                </td>
                <td>{{ country.area | number }}</td>
                <td>{{ country.population | number }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row content-clickoptions">
        <div class="col-sm">
          Show More
        </div>
      </div>
      <div class="row footer">
        <div class="col-sm">
          Action Dropdown
          <button
            type="button"
            class="btn btn-secondary "
          >
             GO
          </button>
        </div>
        <div class="col-sm">
          <button
            type="button"
            class="btn btn-secondary "
          >
            SAVE
          </button>
        </div>
        <div class="col-sm">
          <button
            type="button"
            class="btn btn-secondary "
          >
            CONFIRM
          </button>
        </div>
        <div class="col-sm">
          <button
            type="button"
            class="btn btn-secondary "
          >
           TOP
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
